.bluebox{
	width: 100%;
	margin: 0;
	padding: 0em;
    box-sizing: border-box;
    background: rgba(229, 237, 242, 1);
    display: flex;
  
    align-items: center;
}

.block2{
    width: 60%;
    height: 100%;
    padding: 1em 3em ;
    margin: 0%;
    box-sizing: border-box;    
}
.button2{
    border: 2px solid #D00000;
    box-sizing: border-box;
    width: 166px;
    height: 41px;
    background: rgba(229, 237, 242, 1);
    font-family: Poppins;
    color: #14213D;
    font-weight: 600;
    font-size: 1em;
    margin-top: 1em;
}
