@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    background-color:#E5EDF2;;
    
}

* {
    box-sizing: border-box;
  } 


  #nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color:#F0F1F3;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  #nav li {
      float: left;
      align-items: center;
      display: flex;
      justify-content: center;
      
  }
  
  #nav li a {

    display: block;
    color: #595959;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    justify-content: center;
    font-size: 13px;
  }
  
  #nav li a:hover:not(.active) {
    color: #FCA311;
  }
  




  .form {
      text-align: center;
      /* padding: 6px 10px; */
      border: 1px solid #BBBBBB;
      margin-left: 36px;
      box-sizing: border-box;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 600px;
      background: #FFFFFF;
      
    
     
  }
  img{
    padding: 14px 16px;
 
  }

   #searchbar {
    width: 90%;
     /* padding: 14px 16px; */
  
     height:100%;

     font-family: 'Poppins';
     font-style: normal;
     font-weight: normal;
     font-size: 16px;

  }
  select{
      height: 100%;
      border-radius: 0%;
      background-color: #E0E0E0;
  }
  #btn-1{
     height:100%;
     width: 10%;
     background-color:#FEBD69;
     color:  #595959;
     font-size: 19px;
     }
     .line
     {

        height: 15px;
     }
     .user{
         width: 19px;
         font-size: 19px;
         color: #595959;
         
     }
/* for lower header */
#lower-header
{
    box-sizing: border-box;
    margin:0;
    width: 100%;
    margin-top:70px;
    height: 45px;
}
#lower{
    list-style: none;
    margin-top:70px;
    height: 45px;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    background-color: #233A6C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#lower li {
    color: #E5E5E5;
    align-items:center;

} 
#lower a{
    color: #E5E5E5;
    align-items:center;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
}
    

/* for image  purpose */
#backimage{
    width: 100%;
    height: 380px; 
    margin: 0;
    padding: 0;
   }

   /* main body */
   #mainbody{
       width: 100%;
       height: 2000px;
       background-color:#E5EDF2;
       margin: 0;
       padding: 0;
         box-sizing: border-box;
       position: relative;
       width: 100%;
       height: 808px;

   }


   /* for the button at bottom */
   #seeall
   {
     
       width:44px;
       text-align: center;
       bottom: 0;
       left: 50%;
       padding: 0;
       position: absolute;
       float: center;
       border: 2.58823px solid #C4C4C4;;
       border-radius: 50%;
       color:#140D4F;
       font-size: 1.5em;
       font-weight: 2.59px;
       padding: 8px;
       background: #FFFFFF;
       box-sizing: border-box;
       box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.25), 0px 5px 20px 1px rgba(0, 0, 0, 0.25);


   }





/* all for footer */
.footer {
    background-color: #233A6C;
    color: white;
    line-height: 21px;
}

.top {
    height: 268px;
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.your {
    color: #FCA311;
}

.biz {
    color: red;
}

.left {
    font-size: 1.1em;
    font-weight: 400;
}

.middle1 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.middle2 {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.right {
    font-size: 14;
    line-height: 21px;
    font-weight: 400;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #14213D;
    height: 56px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 21px;
}

.footer-logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    width: 109px;
    height: 28px;
}

.link1 {
    font-size: 18px !important;
    font-weight: 700;
    line-height: 27px;
}

.footer-content {
    margin-top: -10px;
}

.fab {
    font-size: 2em;
    margin-right: .5em;
    margin-bottom: .5em;
}

.getapp {
    display: flex;
}

.playstore {
    display: inline-block;
    margin-left: .75em;
    margin-right: .75em;
}

.ios {
    display: inline-block;
}