.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
/* Modal Content */
.modal-content {
  /* position: relative; */
  background-color: #fefefe;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #888;
  width: 844.28px;;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}







.modal-header {
  margin: 0;
  padding: 0;
  background-color:#14213D;
  background-image: url("./bannerimages/Vector.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  color: white;
  flex-direction: column;
  height: 451.7px;
}
.modal-body {
  margin:0;
  padding: 2px 16px;
}

/* .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
} */

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close1 {
  color: white;
  opacity: 1;
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}

#circle{
   display: flex; 
   flex-direction: column;
   margin-top:1.1em; 
   margin-left: 0.5em;

   /* padding: 3em; */
/* for circle image blue */
   background-color: #14213D;
   border-radius: 100%;
   width: 354.99px;   /*units to be changed after final positioning in main file*/
   height: 355.71px;
 
   box-shadow: 0px 0px 31.9358px 19.1615px rgba(0, 0, 0, 0.25);
 }