@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");


.block{
	width: 100%;
	margin: 0;
	padding:0;	
	height: max-content;


}

#banner{
	
	box-sizing: border-box;
	padding: 0;
	height:430px ;
	align-items: center;
	width: auto;
	z-index: 1;
	margin-left: -20rem;
	
}
.banner{

	max-height: 100%;
	padding: 0;
}

	.alltext
	{
		width:90%;
		height: 100%;
		margin-left: 5em;
		padding: 2em 8em;
	}

	.content{
	
		padding:  1em  4em;
		padding-left: 0;
		margin: auto 0 auto auto;
		width:87%;
		background: rgba(255, 220, 226, 0.69);
		font-family: Poppins;
		font-style: normal;
		display: flex;
		align-items: center;
		
	}

#line1{
	font-weight: 600;
	font-size: 16px;
	color: #DE3F39;
	padding: 0.5em 0;
}

#line2{
	font-weight: 600;
	font-size: 18px;
	color: rgba(20, 33, 61, 0.85);
	padding: 0.5em 0;
}

ul{
	color: #263238;
	font-size: 13px;
}

li{
	margin: 18px 0;
}

#line7{

	text-align: center;
    color: #263238;
	font-size: 13px;

}

.button{
	border: 2px solid #D00000;
    box-sizing: border-box; 
	text-align: center;
    width: 166px;
    height: 41px;
	margin-right: 50px;
    background-color: rgba(255, 220, 226, 0.69);
    font-family: Poppins;
	color: #14213D;
    font-weight: 600;
    font-size: 18px;
}