@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
.wbox{
	display: grid;
	/* grid-template-rows: 30% 70%;   */
	/* width: 233px; */
	/* height: 850px; */
	/* grid-row-gap: 0.3em; */
	font-family: Poppins; 
	font-style: normal;
	/* box-sizing: border-box; */
	width: 100%;
	height: 100%;

}

.iconcontainer
{
	display: flex;
	top: 55%;
	/* letter-spacing: 0.5em;	 */
	
	height: min-content;	
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	margin-top: 0.8em;


}
.textcontainer{
	display: flex;
	margin: 0em 0.5em;
	box-sizing: border-box;
	padding: 0em;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.textcontainer .fab{
	font-size: 2.5em;
}

#textc{
	justify-content: center;
	text-align:  center;
	padding:0px;
	font-size: 1rem;	
	color: #140D4F;
	letter-spacing: 0em;


	font-family: Poppins;
 font-style: normal;
font-weight: 500;

	/* width: 30px; */

}
.grid-container{
	display: grid;
	grid-template-columns: auto auto auto auto;
	/* grid-template-columns: repeat(auto-fill, minmax(11em, 1fr)); */
	background-color: #E5EDF2;
	grid-gap: 5em 2em;
	font-family: Poppins;
    margin-top: 5em;
	/* margin-left: 1em; */
	
}
#grid-line{
padding: 0;border: 0.432806px solid #BBBBBB; margin-bottom: 0.2em;
}

.grid-item{ 
	background: #FFFFFF;
    border: 0.718913px solid #BBBBBB;
    box-sizing: border-box;
	height: min-content;
	min-width: 219px;
	
     padding: 0;

}

#photo{
	display: flex;
	justify-content: center;
	margin-top: -3em;	
	box-sizing: border-box;
	height: 110px;

}

.photo{

	border-radius: 50%;
	max-height: 100%;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0;
}

/* #name{
	position: absolute;
    left: 32.41%;
	right: 32.41%;
	top: 20%;
	bottom: 58.82%;
    font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12.1186px;
    color: #140D4F;
} */

.name{
	display: flex;
	justify-content: center;
	margin-top: 1.4em;
}
#nameid{
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 12.1186px;
    color: #140D4F;

}
#connect
{
	display: flex;
	justify-content: center;
    /* bottom: 0; */
	margin: 0;
	padding: 0;
	align-self: flex-end;
}
.connect{
	background-color: #233A6C;
	color: #fff;
	/* width: 219px; */
	width: 100%;
	text-align: center;
	font-family: Poppins;
	border: none;	
}

.industry{
	display: flex;
	justify-content: center;
    margin-top: 1em;
}
#indus{
	background: #E46C5A;
    border-radius: 8.02295px;
	justify-content: center;
	padding:1px;
    color: #fff;
    width: 106px;	
    height: 17px; 
	text-align: center;
    font-size: 10px;
}





